<ion-content>
   <!-- [@flyInBottomFast]="cloudState" -->
   <div padding class="cloud-layer">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="fhi" >
          <img  class="head-img" src="assets/images/head-f.jpg" />
      </div>
      <div>
        <div *ngIf="loginTip" class="danger" invalid>
            {{ loginTip}}
        </div>
        <div *ngIf="formErrors.email" class="danger" invalid>
            {{ formErrors.email }}
        </div>
        <div *ngIf="formErrors.email" class="danger" invalid>
            {{ formErrors.password }}
        </div>
      </div>
      <ion-list>
        <ion-item>
            <ion-label>Login Name</ion-label>
            <ion-input type="text" formControlName="email" value="{{loginUser}}" placeholder='email'></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password" formControlName="password" placeholder="paaswrod"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button type="submit" class="login-button" [disabled]="!loginForm.valid" >Login</ion-button>
    </form>
  </div>

</ion-content>
