<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title>
            {{todo.title|contentSubstring:10}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card [class.todo-detail-hide]="isEdit">
        <ion-item>
            <h2 (click)="enableEdit(true);">标题: {{todo.title}}</h2><br>

        </ion-item>
        <ion-card-content>

            <p (click)="enableEdit(true);">内容:{{todo.description}}</p>
            <span style="color: #666">创建时间:{{todo.createDate|date:'yyyy-MM-dd hh:mm:ss'}}</span>
        </ion-card-content>

    </ion-card>
    <form [formGroup]="todoForm" (ngSubmit)="updateTodo()" [class.todo-edit-show]="isEdit" [class.todo-edit-hide]="!isEdit">
        <ion-list>
            <ion-item>
                <ion-label position="floating">Title</ion-label>
                <ion-input type="text" formControlName="title" [(ngModel)]="todo.title" value="{{todo.title}}"></ion-input>
            </ion-item>
            <div *ngIf="formErrors.name" class="alert alert-danger" invalid>
                {{ formErrors.title }}
            </div>
            <ion-item>
                <ion-label position="floating">Description</ion-label>
                <ion-textarea rows="3" type="text" [(ngModel)]="todo.description" formControlName="description" value="{{todo.description}}"></ion-textarea>
            </ion-item>
            <div *ngIf="formErrors.name" class="alert alert-danger" invalid>
                {{ formErrors.description }}
            </div>
        </ion-list>
        <div class="ion-padding">
            <ion-button type="submit" [disabled]="!todoForm.valid" expand="block" block>Update</ion-button>
        </div>
    </form>
</ion-content>