<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button [text]="    ">
            </ion-back-button>
        </ion-buttons>
        <ion-title>
            {{todo.title}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card [class.todo-detail-hide]="isEdit">
        <ion-item>
            <h2 (click)="enableEdit(true);">标题: {{todo.title}}</h2>
            <span style="font-size: 12px;color: #666">创建时间:{{todo.createDate}}</span>

        </ion-item>

        <ion-card-content>
            <hr>
            <p (click)="enableEdit(true);">内容:{{todo.description}}</p>
        </ion-card-content>

    </ion-card>
    <form [formGroup]="todoForm" (ngSubmit)="updateTodo()" [class.todo-edit-show]="isEdit" [class.todo-edit-hide]="!isEdit">
        <ion-list>
            <ion-item>
                <ion-label floating>Title</ion-label>
                <ion-input type="text" formControlName="title" [(ngModel)]="todo.title" value="{{todo.title}}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Description</ion-label>
                <ion-textarea rows="3" type="text" [(ngModel)]="todo.description" formControlName="description" value="{{todo.description}}"></ion-textarea>
            </ion-item>
        </ion-list>
        <div class="ion-padding">
            <ion-button type="submit" [disabled]="!todoForm.valid" expand="block" block>Update</ion-button>
        </div>
    </form>
</ion-content>